body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header,
footer {
  width: 100%;
}

header{
  border-bottom: 1px solid #cccccc;
}
footer{
    border-top: 1px solid #cccccc;
}