header {
  background-color: white;
  height: 70px;
  height: 70px;
  width: 100%;
}
.logo{
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  height: 100%;
  margin-left: 20px;
}